      
    
            <!-- Modal Header -->
            
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete this comment?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p>{{content.content}}</p>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger delete_comment" data-dismiss="modal" data-url="{% url 'comment-delete' content.pk %}">Delete</button>
            </div>

            <script>
                $(function(){
                    $('.delete_comment').click(function(){
                        $.ajax({
                            url:$(this).attr('data-url'),
                            type:'get',
                            data:{
                                'tag':'delete'
                            },
                            dataType:'json',
                            success:function(response){
                                if(response.status){
                                    console.log(response.status);
                                    RenderAllcomments() 

                                }

                            }
                        })
                    })
                })
            </script>