{% extends 'blog/base.html'%}
{% block content %}
{% for post in post_list %}
<article class="media content-section">
  <img class="rounded-circle article-img" src={{post.author.profile.image.url}} alt="">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username%}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d,Y"}}</small>
    </div>
    <h2><a class="article-title" href="{% url 'post-detail' post.pk%}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
  
</article>
{% endfor %}
{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}

<script>

</script>

{% endblock content %}