
{% for comment in post%}
  <div class="container comment__body" style="margin-top: 1rem;">
    <div class="col-md-2"></div>

    <div class="form-floating col-md-10 " id="commentBox" style="padding:1rem;display: flex;flex-direction: row;border-radius: 1rem;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc; 
    ">
    
      <img class="rounded-circle article-img" src={{comment.user.profile.image.url}} alt="" style="margin-right: 1rem;">
      <div style="display: flex;flex: 1;flex-direction: column;">
        <span >
            <a class="text-muted" style="font-size: 14px;font-weight: bold;text-decoration: none;" href="{% url 'user-posts' comment.user.username%}">{{comment.user.username}}</a>
             <span
            style="margin-left: .5rem;font-size: 14;font-weight: initial;">{{comment.timestam|date:"F d, Y"}}
        </span>
        <span class="dropdown"> 

            <i class="fa fa-ellipsis-h " style="float: right;cursor: pointer;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {% if  comment.user == request.user%}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item update" href="#" data-url="{% url 'comment-update' comment.pk %}">Edit</a>
                    <a class="dropdown-item delete" href="#" data-url="{% url 'comment-delete' comment.pk %}">Delete</a>
                </div>
                {% endif%}
            </i>

        </span>
        </span>
        

        <textarea class="form-control comments" disabled="disabled"
          style="border-radius: 10px;padding: 1rem;outline: none;background-color: white;cursor: initial;">{{comment.content}}</textarea>
      </div>    
    </div>
  </div>

  <script>
      $(function(){
        $('.update').click(function(){
            
            $.ajax({
                url:$(this).attr('data-url'),
                type:'get',
                dataType:'json',
                success:function(response){
                // $('#myModal').modal('show')
            
                    $("#modal-book .modal-content").html(response.update_comment);

                    $("#modal-book").modal("show");
                }
            })
        })
        $('.delete').click(function(){
        $.ajax({
            url:$(this).attr('data-url'),
            type:'get',
            dataType:'json',
            success:function(response){
                if(response.status=='ok'){
                    // $('#myModal').modal('show')

                    $("#modal-book .modal-content").html(response.comment_delete);

                    $("#modal-book").modal("show");
                }
            }
        })
    })
    })
  </script>
  {% endfor%}