{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section mb-0">
  <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' object.author.username%}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      {% if post.author == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
  {% if request.user.is_authenticated %}
  <span class="post_likes" style="text-decoration: none;cursor: pointer;color: #007bff;"
    data-url="{% url 'post-like' post.pk %}" id="{{post.pk}}">
    <span style="margin-right: .5rem;cursor:initial;" class="text-muted " onclick=>{{post.like_set.all.count}}</span>
    <i class="fa fa-sign-language ">
    </i>
  </span>

  {% else %}

  <span style="text-decoration: none;cursor: pointer;color: #007bff;">
    <span style="margin-right: .5rem;cursor:initial;" class="text-muted ">{{post.like_set.all.count}}</span>
    <i class="fa fa-sign-language " onclick="redirectToLogin()">
    </i>
  </span>
  {% endif %}
</article>

<!-- comment sections is here  -->

<article class="media content-section comment">
  <h3 class="comment__discussion">Discussions</h3>
  <div class="container comment__body">
    {% if request.user.is_authenticated %}
    <div class="profile col-md-2 ">
      <img class="rounded-circle article-img" src={{request.user.profile.image.url}} alt="" style="margin: 0%;">
    </div>
    {% else %}
    <div class="profile col-md-2 ">
      <img class="rounded-circle article-img" src="/media/default.png/" alt="" style="margin: 0%;">
    </div>
    {% endif %}
    <div class="form-floating col-md-10 " id="commentBox">
      {% if request.user.is_authenticated %}
      <textarea class="form-control comments" placeholder="Add to the Discussions" id="content"
        style="padding: 2rem;border-radius: 10px;" value="" ></textarea>
        <small style="color: red;"></small>
      {% else %}
      <textarea class="form-control comments" placeholder="Add to the Discussions" id="content"
        style="padding: 2rem;border-radius: 10px;" value="" onclick="window.location='/login/'"></textarea>
        <small style="color: red;"></small>
        {% endif %}
    </div>

  </div>

  <button class="btn btn-outline-primary submit" type="submit" style="margin-left: 7.7rem;margin-top: 1rem;"
    data-url="{% url 'post-comment' post.pk %}">Submit</button>
  <div class="add__comments" style="width: 100%;">

  </div>

  <!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
</article>


<script>
  function RenderAllcomments() {
    // render all comments

    $.ajax({
      url: $('.submit').attr('data-url'),
      type: 'get',

      dataType: 'json',
      success: function (response) {
        $('.add__comments').html(response.comments)
      }
    })
  }

  RenderAllcomments()


  $(function () {


    $('.submit').click(function (e) {

      e.preventDefault()
      if ($('#content').val() == '') {
        $('small').text("Field cannot be blank")
        document.getElementById("content").style.borderColor="red"
      }
      else{
        $('small').text("")
        document.getElementById("content").style.borderColor="#ced4da"
        $.ajax({
        url: $(this).attr('data-url'),
        type: 'POST',
        data: {
          'comment': $('.comments').val(),
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (response) {
          if (response) {
            $('.comments').val("")
            RenderAllcomments()
          }
        }
      })
    }
     
      
      return false
    })
  })
  function redirectToLogin() {

    window.location = '/login/'
  }
  $(function () {

    $('.post_likes').click(function () {
      var id = $(this).attr('id')
      console.log(id);
      $.ajax({
        url: $(this).attr('data-url'),
        type: 'get',
        data: { 'pk': $(this).attr('data-id') },
        dataType: 'json',
        success: function (response) {

          $('#' + id).find('span').text(response.total_likes)

        }
      })
    })

    // jquery stop child triggering parent event
    $(".post_likes span").click(function (e) {
      e.stopPropagation();
    });

  })




</script>
{% endblock %}