
      
        <!-- Modal Header -->
        
        <div class="modal-header">
          <h4 class="modal-title">Editing comment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <textarea  id="popup_content"  class="form-control" name="popup_content">{{content.content}}</textarea>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary update_comment" data-dismiss="modal" data-url="{% url 'comment-update' content.pk %}">Submit</button>
        </div>
        

    <script>
$(function(){
    $('.update_comment').click(function(e){
     console.log($('#popup_content').val());
        e.preventDefault()
        $.ajax({
            url:$(this).attr('data-url'),
            type:'post',
            data:{
                'content':$('#popup_content').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType:'json',
            success:function(response){
                RenderAllcomments()
            }
        })
    })
return false
  
})
    </script>