{% extends "blog/base.html" %}

{% block content %}
    <div class="content-section">
      <h2>You have been logout</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
               <a  href="{% url 'login'%}">Log In Again</a>
            </small>
        </div>
    </div>
{% endblock content %}